@import '../../styles/params/variables';

.subheader {
  padding-left: 10px;
  font-family: $font-name-montserrat-reg;
  color: #FFF;
  text-align: left;
}

.dropdown {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
}