@import '../../styles/params/variables';

.subheader {
  padding-left: 10px;
  font-family: $font-name-montserrat-reg;
  color: #FFF;
  text-align: left;
}

.dropdown {
  width: 100%;
  max-width: 90px;
  height: 36px;
  padding: 0 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: rgba(255, 255, 255, 0.06);
  color: #FFF;
}
