# Add to autostart by creating/editing /home/pi/.config/autostart/kiosk.desktop:

[Desktop Entry]
Type=Application
Name=Kiosk
Exec=/path/to/utilities/start-kiosk.sh
X-GNOME-Autostart-enabled=true