@import '../../styles/params/variables';

button {
  background-color: #f14e4e;
  display:inline-block;
  // padding:0.3em 1.2em;
  // margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius: 80px;
  height: 40px;
  box-sizing: border-box;
  text-decoration:none;
  font-family: $font-name-montserrat-semibold;
  font-size: 12px;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  line-height: 1;
}
button:hover {
 border-color: rgba(255,255,255,1);
}
.react-switch-label:active .react-switch-button {
  width: 60px;
  overflow: hidden;
}