@import '../../styles/params/variables';

.artele-container {
  //width: 100%;
  min-height: 100vh;
  //padding: 90px;
  background-size: cover;
  //cursor: none;

  .artele-header {
    padding-bottom: 0;
  }

  table {
    color: white;
    font-family: $font-name-montserrat-med;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    background-color: #333;
    width: 100%;
  }

  .table-trigger {
    
    .description {
      color: white;
      font-size: 12px;
      font-family: $font-name-montserrat-reg;
      text-align: left;
      padding-left: 0px;
      text-transform: none;
    }

    input {
      width: 100px;
    }

    .header {
      padding-top: 20px;
      padding-bottom: 15px;
      font-family: $font-name-montserrat-semibold;
    }

    .museum {
      padding-bottom: 10px;
    }
  }

  .left {
    // width: 80%;
    padding-left: 10px;
  }

  .right {
    //text-align: right;
    padding-right: 10px;
    text-align: center;
  }
}

.app-switcher-container {
  text-align: center;
}

.title {
  font-family: $font-name-montserrat-bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  background-color: #666;
  color: white;
  padding: 10px;
  height: 50px;
  margin: 0;
}

.other {
  background-color: red;
  
}
