// Typography Variables
$font-weight-bold: 800;
$font-name-quarto: 'Quarto';

$font-name-bentonsans-book: 'BentonSansF-Book';
$font-name-bentonsans-bold: 'BentonSansF-Bold';
$font-name-bentonsans-light: 'BentonSansF-ExtraLight';

$selected-green: #1FA152;
