// Typography Variables
$font-weight-bold: 800;
$font-name-quarto: 'Quarto';

$font-name-montserrat-reg: 'Montserrat-Regular';
$font-name-montserrat-med: 'Montserrat-Medium';
$font-name-montserrat-med-italic: 'Montserrat-MediumItalic';
$font-name-montserrat-semibold: 'Montserrat-SemiBold';
$font-name-montserrat-semibold-italic: 'Montserrat-SemiBoldItalic';
$font-name-montserrat-bold: 'Montserrat-Bold';
$font-name-montserrat-black: 'Montserrat-Black';

$selected-green: #1FA152;
