@import '../../styles/params/variables';

.app-switcher-container {
  text-align: center;
}

.img-parent {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  position: relative;
  display: block;
  background: black;
}

$fadeTime: 1s;
$fadeTimeOut: 2s;

.fadedIn {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 1;
}

.fadedOut {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0;
}

.fade-in {
    animation: fadeIn ease-in $fadeTime;
    -webkit-animation: fadeIn ease-in $fadeTime;
    -moz-animation: fadeIn ease-in $fadeTime;
    -o-animation: fadeIn ease-in $fadeTime;
    -ms-animation: fadeIn ease-in $fadeTime  ;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .fade-out {
    animation: fadeOut ease-out $fadeTimeOut;
    -webkit-animation: fadeOut ease-out $fadeTimeOut;
    -moz-animation: fadeOut ease-out $fadeTimeOut;
    -o-animation: fadeOut ease-out $fadeTimeOut;
    -ms-animation: fadeOut ease-out $fadeTimeOut;
  }
  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }